Binaries
DerivedDataCache
Intermediate
Saved
Plugins

# IntelliJ IDEA #
.idea/

# VS Code #
.vscode
.vsconfig
.vs

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.fake
*.user
*.xml
