Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.idea/
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset
*.umap
*.wav
*.png
.fake
*.user
*.xml
*.idea
.idea/.idea.ProjectMars/.idea/workspace.xml